# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.pyc
*.pyc
tutorial/tutorial/movie_description_100K_backup
tutorial/tutorial/movie_description_100K
tutorial/tutorial/movie_description_1M_backup
tutorial/tutorial/movie_description_1M
tutorial/tutorial/spiders/tmp_find_out_why.py
tutorial/tutorial/spiders/ml-1m
tutorial/tutorial/spiders/ml-100k
tutorial/tutorial/archive
tutorial/tutorial/plot_summary-*.txt
tutorial/tutorial/synopsis-*.txt
tutorial/tutorial/movie_description_backup
tutorial/tutorial/movie_description

*.dict
*.mm
*.index
*.*~
*~

